$bg-color: black;
$text-color: white;
$social-links-color: white;
$copy-right-name-color: #2f9ee5;

footer {
  background-color: $bg-color;
  color: $text-color;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;

  .social-links {
    a {
      text-decoration: none;
      color: $social-links-color;
      padding: 10px;
      &:hover {
        color: $copy-right-name-color;
      }
    }
  }

  .copy {
    span {
      color: $copy-right-name-color;
    }
  }
}
